<!DOCTYPE html>
<html>
<head>
  <title>MarkdownEditor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%=link_to 'home', controller: 'home', action: 'textEditor' %>
    <%=link_to 'notes', controller: 'notes', action: 'index' %>
    <%=link_to 'trashcan', controller: 'trashcan', action: 'index' %>
     
     <% if flash[:notice] %>
   		<p id="notice"><%= notice %></p>
   	 <% end %>

  </nav>

  <div id="main-container" class="container">
    <%= yield %>
  </div>

</body>
</html>
