<!DOCTYPE html>
<html>
<head>
  <title>MarkdownEditor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%=link_to 'Home', home_textEditor_path %>
    <%=link_to 'Notes', notes_path %>
    <%=link_to 'Trashcan', controller: trashcan_path %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
     
     <% if flash[:notice] %>
   		<p id="notice"><%= notice %></p>
   	 <% end %>

  </nav>

<%= yield %>

</body>
</html>
