<h1>Editing Note</h1>
<%= button_to "Share", share_note_path(@note), method: :put  %>
<%=url_for share_note_url(@note.slug)%>
<%= render 'form' %>

<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>


