
<h1>Listing Notes</h1>
<%= link_to new_note_path, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New Note
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Note Created</th>
      <th>Last Update</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note) %></td>
        <td><%= note.tag %></td>
        <td><%= note.created_at.to_formatted_s(:long_ordinal) %></td>
				<td><%= time_ago_in_words(note.updated_at) %> ago</td>
        <td>
          <%= link_to edit_note_path(note), class: 'btn btn-success' do %>
            <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to trashcan_create_path(:id => note.id), class: 'btn btn-danger' do %>
            <i class="glyphicon glyphicon-trash"></i> Trash
          <% end %>
        </td>
      </tr>
      <% end %>
  	</tbody>
</table>

<br>




