
<h1>Listing Notes</h1>
<%= render "/shared/search" %>
<%= link_to '<button type="button">New Note</button>'.html_safe, new_note_path %>

  
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Note Created</th>
      <th>Last Update</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note) %></td>
        <td><%= note.tag %></td>
        <td><%= note.created_at.to_formatted_s(:long_ordinal) %></td>
				<td><%= time_ago_in_words(note.updated_at) %> ago</td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to "Trash", :controller => :trashcan, :action => :create, :id => note.id %></td>
      </tr>
      <% end %>
  	</tbody>
</table>

<br>




