<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @note.tag %>
</p>

<textarea id="note_inputText">
  <%= @note.inputText %>
</textarea>

<div id="epiceditor"></div>
<%= javascript_include_tag "epiceditor.js" %>
<script>
  var options = {
    container: 'epiceditor',
    textarea: 'note_inputText',
    clientSideStorage: false,
    buttons: false,
    autogrow: true
  }

  var editor = new EpicEditor(options);

  editor.on('load', function(){
    this.preview();
  });
  
  editor.load();
</script>

<div class="actions">
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', notes_path %>
</div>
